html{
	scroll-behavior: smooth;
}
.Map{
	width:auto;
	height:auto;
	position: relative;
    box-shadow: 3px 4px 6px black;
	
}
.Map img{
	width:100%;
	height:100%;
	z-index: -1;
}
.NavHandle{
	width:50%;
	height: 30%;
	
	display: grid;
	position: absolute;
	z-index:5;
	right:0;
   top:40%;
	margin-right: 10px;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}
.NavHandle button{
	margin-left: auto;
	width:40%;
	height:100%;
	background-color: rgba(0,0,0,0.7);
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	color:#AACCFF;
	box-shadow: 3px 4px 6px black;
	border-style:solid;
	border-width: thin;
	border-color: #AACCFF;
	border-radius: 10px;
	transition: width 0.6s ease;
	z-index: 5;
}
.NavHandle button:hover{
	width:60%;
	
}
.marker{
	display: none;
top:0;
width:100%;
height:100%;
	z-index: 3;
	position:absolute;
}
.marker2{
	display: none;
top:0;
width:100%;
height:100%;
	z-index: 3;
	position:absolute;
}
.mk{
	
z-index: 3;
position: absolute;
background-color: red;	
width:30px;
height:30px;
border-radius: 100%;
	box-shadow: 3px 4px 6px black;
	transition:background-color 0.6s ease;
	animation:fadein 0.5s;
	color: transparent;
	text-decoration: none;
}
.mkr{
z-index: 3;
position: absolute;	
width:0;
height:0;
 border-left: 20px solid transparent;
  border-right: 20px solid transparent;
   border-bottom: 20px solid red;
	transition:background-color 0.6s ease;
	animation:fadein 0.5s;
	
}
.mk1{
	
z-index: 3;
position: absolute;	
width:30px;
height:30px;
	background-color: blue;
	transition:background-color 0.6s ease;
	animation:fadein 0.5s;
	box-shadow: 3px 4px 6px black;
	
}
.mk2{
	
z-index: 3;
position: absolute;	
width:20px;
height:30px;
	background-color: gray;
	transition:background-color 0.6s ease;
	animation:fadein 0.5s;
	box-shadow: 3px 4px 6px black;
	
}
@keyframes fadein{
	from{opacity: 0;}
	to{opacity: 1;}
}
.mk:hover{
	background-color: green;
	
}
 #gnomes{
  top:254px;
  left:379px;
}
#gnomes2{
  top:256px;
  left:690px;
}
#gnomes3{
  top:258px;
  left:725px;
}
#gnomes4{
  top:260px;
  left:760px;
}
#gnomes5{
  top:261px;
  left:799px;
}
#gnomes6{
  top:263px;
  left:835px;
}
#gnomes7{
  top:265px;
  left:873px;
}
#camp1{
  top:300px;
  left:300px;
}
#camp2{
  top:330px;
  left:300px;
}
#camp3{
 top:360px;
  left:300px;
}
#camp4{
 top:300px;
  left:360px;
}
#camp5{
 top:330px;
  left:360px;
}
#camp6{
  top:360px;
  left:360px;
}
#camp7{
  top:300px;
  left:420px;
}
#camp8{
 top:330px;
  left:420px;
}
#camp9{
  top:360px;
  left:420px;
}
#camp10{
  top:300px;
  left:480px;
}
#camp11{
 top:330px;
  left:480px;
}
#camp12{
  top:360px;
  left:480px;
}
 #loan1{
  top:254px;
  left:379px;
}
#loan2{
  top:256px;
  left:690px;
}
#loan3{
  top:258px;
  left:725px;
}
#loan4{
  top:260px;
  left:760px;
}
#loan5{
  top:261px;
  left:799px;
}
#loan6{
  top:263px;
  left:835px;
}
#loan7{
  top:265px;
  left:873px;
}
 #atm1{
  top:254px;
  left:379px;
}
#atm2{
  top:256px;
  left:690px;
}
#atm3{
  top:258px;
  left:725px;
}
#atm4{
  top:260px;
  left:760px;
}
#atm5{
  top:261px;
  left:799px;
}
#atm6{
  top:263px;
  left:835px;
}
#atm7{
  top:265px;
  left:873px;
}
#bottomscreen{
	position: relative;
	width: 100%;
	height:100%;
	z-index: 10;
	background-color: gray;
}


