*{
	color:white;
}
h2,h4,h3{
	text-align: center;
	font-variant: small-caps;
}
input{
	color:black;
}
.filters{
	border: 1px solid white;
	display: flex;
	flex: 0 0 auto;
	height:420px;
	flex-direction: column;
	width: 13%;
	position: sticky;
	position: -webkit-sticky;
	top: 10px;
	bottom: 30px;
	left:20px;
}
#combined{
	display: flex;
	flex: 0 0 auto;
	width: 100%;
}

input[type= range]{
	margin-left: auto;
    display: block;
    margin-right: auto;
}
.content{
margin-left: 30px;
display:grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.content{
	margin:20px auto;
}
#i1 img{
	height:250px;
}
#i2 img{
	height:210px;
	width:190px;
}
#i3 img{
	height:250px;
}
#i4 img{
	height: 210px;
	width:190px;
}
.schedule:hover{
    color:white;
    background-color: #332438 !important;
    border-color: white !important;
}
.schedule {
    background-color: transparent !important;
    border: 2px solid #332438;
    color: #332438;
    font-size: 1vw;
    font-weight: 700;
    font-variant: small-caps;
    height: 50px;
    transition: color 1s;
    margin-top: 30px;
    margin-left: 70%;
  
  &:hover {
    color: adjust-hue(white,180);
    border-color: white;
  }
}