html, body { height: 100%; margin: 0; }

/*Modal image* cre:w3schools/



/* */

.videocover{
    position: relative;
    background-image:url('../img/picturecover.jpeg');
    min-width: 100%;
    min-height: 40%;
    background-size: 100% 100%;
}

.videocover .videocover-text{
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.picturewarper{
    position: relative;
    height: 94%;
}


.yearselector{
    position: absolute;
    left: 43%;
    right: 40%;
    padding-top: 10px;
}




.yearselector span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2vw;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.yearselector button{
    background-color: black;
    height: 50px;
    z-index: 1;
    outline:none;
}


.yearselector button:hover{
    background-color: #332438;
}

.yearselector button:focus{
    background-color: #6a2083;
}


.contenttab{
    position: absolute;
    top: 8%;
}

imagetab{
    position: absolute;
    top: 10%;
}


imagetab2{
    position: absolute;
    top: 10%;
}

.buttonselector{
    float: right;
    margin-right: 2vw;
}

.buttonselector button{
    background-color: black;
    height: 50px;
    z-index: 1;
    outline:none;
}

.buttonselector button:hover{
    background-color: #332438;
}

.buttonselector button:focus{
    background-color: #6a2083;
}



.buttonselector span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1vw;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
}

.fade{
    -webkit-animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; 
    -ms-animation: fadein 0.5s; 
    -o-animation: fadein 0.5s; 
     animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 0.5em;
    grid-column-gap: 0.5em;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}

@keyframes fadeimage {
    from {opacity: 1;}
    to {opacity: 0.7;}
}

.festivalimage:hover{
    animation: fadeimage 0.5s;
    opacity: 0.7;
}





