@keyframes slideshow{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}

#slideshow{
	position: relative;
	overflow: hidden;
	
	
}

#slideshow figure img{
	width: 20%;
	float: left;
	height: 1000px;
	
}

#slideshow figure{
	position: relative;
	z-index: -1;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slideshow infinite;
}
.blurtoptobottom{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    background: 
        linear-gradient(
            to bottom,
            rgba(0,0,0,1) 0%, 
            rgba(0,0,0,0) 40%, 
            rgba(0,0,0,0.9) 85%, 
            rgba(0,0,0,1) 100%
    );
}
.containers{
	display: grid;
	grid-template-rows: 1fr 1fr 3fr;
	position:absolute;
	left:25%;
	top:10%;
	border-style: solid;
	border-width: medium;
	border-color: rgba(255,255,255,0.4);
	background-color:rgba(0,0,0,0.7);
width:50%;
height:90%;
	z-index: 5;
}

.swize{
	width:100%;
	height:100%;
	border-radius: 100%;
	
}
.still{
	text-align: center;
	width:100%;
	height:100%;
	border-radius: 100%;
	overflow: hidden;
	
	
}
.gris{
	width:80%;
	height:80%;
	
	
}
.grist{
	text-align: center;
	width:80%;
	height:80%;
	
	overflow: hidden;
	
	
}
.custom{
	width: 100%;
	height: 100%;
	
}
div.custom>div{
	margin-top: 70px;
	margin-left: 10px;
	width: auto;
	height: auto;
	position: relative;
	font-size: 0.7vw;
}
.truce{
	width: 100%;
	height: 100%;
	
}
div.truce>div{
	margin-top: 20px;
	margin-left: 10px;
	width: auto;
	height: auto;
	position: relative;
	font-size: 0.7vw;
}
.info{
	width:100%;
	height: 100%;
	display:grid;
	grid-template-columns: 1fr 3fr;
	color:white;
}

.blurlefttoright{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
	
    background: 
        linear-gradient(
            to right,
            rgba(0,0,0,1) 0%, 
            rgba(0,0,0,0.3) 50%, 
            rgba(0,0,0,0.9) 90%, 
            rgba(0,0,0,1) 100%
        );
}
.menu{
width: 100%;
	height:100%;
	
}
.fist{
	width:auto;
	height: auto;
	position: relative;
	top:40%;
	left:10%;
}
div.fist >button{
	width:15%;
	height:40px;
	background-color: rgba(130,130,130,0.6);
	border-style: solid;
	border-width: thin;
	color:#AACCFF;
	font-size: 0.7vw;
}
.fooditem{
	overflow-y: scroll;
}
div.fooditem>div{
	color: white;
	width:100%;
	height:30%;
	display:grid;
	grid-template-columns: 1fr 3fr;
	border-bottom-style: dashed;
	border-width: medium;
	border-color: gold;
	margin-left: auto;
	
}

